@import 'variables';
@import 'navigation';
@import 'typography';
@import 'icons';

/* Color classes */

.black-bg {
  background-color: $black;
}

.white-bg {
  background-color: $white;
}

.grey-bg {
  background-color: $grey;
}

.grey-medium-bg {
  background-color: $grey-medium;
}

.yellow-bg {
  background-color: $yellow;
}

.light-gray-bg {
  background-color: $grey_light;
}

.black {
  color: $black;
}

.white {
  color: $white;
}

.grey {
  color: $grey;
}

.grey-medium {
  color: $grey_medium;
}

.yellow {
  color: $yellow;
}

/* Helpers */
section {
  padding-bottom: $section-padding;
}

.divider {
  border-bottom: 1px solid $divider_color;
  width: 100%;
  &.divider-white {
    border-bottom: 1px solid $white;
  }
  &.divider-grey {
    border-bottom: 1px solid $grey;
  }
}

.spacer {
  height: $section-padding;
}

.spacer-40 { height: 40px; }

.spacer-xxsmall {
  height: 10px;
}

.spacer-xsmall {
  height: 20px;
}

.spacer-small {
  height: 60px;
}

.spacer-medium-big {
  height: 110px;
}

.spacer-big {
  height: 140px;
}

.hr-spacer {
  height: 1px;
  background: $grey;
  &.hr-mobile-spacer {
    display: none;
    @media all and (max-width: 1170px) {
      display: block;

    }
  }
}

.cta {
  text-transform: uppercase;
  margin-top: 45px;
  font-size: 30px;
  p {
    font-family: inherit;
    font-size: inherit;
  }
}

.m-0 {
  margin: 0;
}

.mt-0 {
  margin-top: 0 !important;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-50 {
  margin-bottom: 50px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mb-60 {
  margin-bottom: 60px;
}

.mb-100 {
  margin-bottom: 100px;
}

.p-0 {
  padding: 0;
}

.pt-0 {
  padding-top: 0;
}

.pb-0 {
  padding-bottom: 0;
}

.pt-60 {
  padding-top: 60px;
}

.pt-75 {
  padding-top: 75px;
}

.pt-80 {
  padding-top: 80px;
}

.pt-120 {
  padding-top: 120px;
}

.pb-150 {
  padding-bottom: 150px;
}

.normal-weight {
  font-weight: normal;
}

.inline-block {
  display: inline-block;
}

/* Site styles */

html {
  background: $white;
  overflow: auto;
  height: 100%;
}

body {
  min-height: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.wrapper {
  flex: 1 0 auto;
}

.container {
  max-width: 1024px;
  padding-left: 94px;
  padding-right: 94px;
  &.wide {
    max-width: 90%;
    width: 100%;
    @media all and (max-width: 1024px) {
      max-width: 100%;
    }
  }
}

.list-inline {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
  }
}

input,
input.form-control {
  background: transparent;
  @include border-radius(0);

  @include placeholder {
    text-transform: uppercase;
  }
}

button, .button, .btn {
  @include border-radius(0);
  &:hover, &:focus, &:active {
    color: $grey;
  }
  &.black {
    &:hover, &:focus, &:active {
      color: black;
    }
  }
}

.btn-grey {
  background: $grey;
  &:hover, &:focus, &:active {
    background: $grey_medium;
  }
}

.btn-white-outline {
  background-color: white;
  color: black;
  border: 1px solid black;
  &:hover, &:focus, &:active { color: $grey-medium; }
}

.btn-black { background-color: black; color: white; }

h1, .h1 {
  &.innerpage {
    font-size: 60px;
    text-transform: none;
    letter-spacing: normal;
    padding-bottom: 48px;
    border-bottom: 1px solid $grey;
    @media all and (max-width: 768px) {
      font-size: 40px;
    }
    span {
      display: block;
      font-size: 14px;
      color: $grey;
    }
  }
}

/* Homepage slider */

section {
  &#homepage-slider {
    position: relative;
  }
}

.top-bg {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 40%;
  background: black;
}

.slider-container {
  background: $grey_medium;
  width: 100%;
  height: $slider-height;

  .slider {
    @media(max-width: 768px) {
      height: $slider-sm-height;
    }

    .slider-content {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 60px;
      white-space: normal;
      word-break: break-all;

      .button {
        font-size: 26px;
        letter-spacing: 1px;
        text-transform: uppercase;
        line-height: 33px;
        padding: 6px 6px 0px 6px;
        margin-top: 40px;
      }
    }

    .slider-background {
      width: 100%;
      height: $slider-height;
      background-size: cover;
      background-position: center;

      @media(max-width: 768px) {
        height: $slider-sm-height;
      }
    }
  }
}

//reset slider default styles
.bx-wrapper {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

/* Artworks Grid - Isotope */

.grid:after {
  content: '';
  display: block;
  clear: both;
}

.grid-item {
  padding: 0 5px 100px 5px;
  img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
  }
  .artwork-caption {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 0;
  }
  .art-title {
    font-size: 20px;
    margin-bottom: 0;
    color: $grey-medium;
    font-style: italic;
  }
}

.img-responsive {
  min-width: 100%;
}

#artist-all-artworks {
  .grid-item {
    // width: 20%;
    float: left;
    padding-bottom: 0;
    @media all and (min-width: 1025px) and (max-width: 1366px) {
      p {
        font-size: 14px;
      }
    }
    @media all and (max-width: 1024px) {
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 75px;
      .artwork-caption {
        margin-top: 24px;
      }
      img {
        margin: 0 auto;
      }
    }
  }
  &.artist-list {
    .grid-item {
      margin-bottom: 75px;
    }
  }

  .innerpage-artworks {
    margin: 50px 0 80px 0;
    .grid-item {
      padding-bottom: 45px;
      .artwork-caption {
        margin-top: 24px;
      }
    }

  }
}

/* Stories */

.story-item {
  padding-bottom: 30px;
  p {
    font-size: 24px;
    margin-top: 40px;
  }
}

/* Artwork */
#filter-art {
  ul {
    list-style: none;
    margin: 0 0 60px 0;
    padding: 0;
    li {
      font-size: 32px;
      line-height: 42px;
      color: $black;
      cursor: pointer;
      &.active, &:hover {
        color: $grey_medium;
      }
    }
  }
  #auction-container {
    margin: 30px 0;
    #auction {
      -webkit-appearance: none;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      border-radius: 0;
      position: relative;
      border: 2px solid $grey;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
      color: $grey;
      width: 40px;
      height: 40px;
      margin: 0;
      vertical-align: top;
      outline: none;
    }
    #auction:active, #auction:checked:active {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px 1px 3px rgba(0, 0, 0, 0.1);
    }

    #auction:checked {
      background: url("../images/checkbox.png") center center no-repeat;
      border: 2px solid $grey;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05), inset 15px 10px -12px rgba(255, 255, 255, 0.1);
      color: $grey;
    }
    label {
      font-size: 32px;
      margin: 0 0 0 32px;
      position: relative;
      top: 8px;
      font-weight: normal;
      line-height: 32px;
      vertical-align: top;
    }
  }
  #priceRange {
    position: relative;
    padding-top: 60px;
    margin-top: 60px;
    color: $grey-medium;
    text-transform: uppercase;
    .left {
      position: absolute;
      left: 0;
      top: 10px;
      font-size: 30px;
    }
    .right {
      position: absolute;
      right: 0;
      top: 10px;
      font-size: 24px;
    }
    input {
      -webkit-appearance: none; /* Override default CSS styles */
      appearance: none;
      width: 100%; /* Full-width */
      height: 10px; /* Specified height */
      background: $grey; /* Grey background */
      outline: none; /* Remove outline */
      opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
      -webkit-transition: .2s; /* 0.2 seconds transition on hover */
      transition: opacity .2s;
      &::-webkit-slider-thumb {
        -webkit-appearance: none; /* Override default look */
        appearance: none;
        width: 32px; /* Set a specific slider handle width */
        height: 32px; /* Slider handle height */
        background: $white; /* Green background */
        border: 2px solid $grey;
        cursor: pointer; /* Cursor on hover */
      }
    }
  }
  @media all and (max-width: 1170px) {
    margin-bottom: 100px;
  }
}

.btn-load {
  font-size: 24px;
  text-transform: uppercase;
  line-height: 84px;
  border: 1px solid $grey_medium;
  padding: 0 126px;
  cursor: pointer;
  display: block;
  margin: 45px auto 0;
  outline: none;
  -webkit-appearance: none;
  background: $white;
  @media all and (max-width: 768px) {
    padding: 0 36px;
    line-height: 48px;
  }
}

.artwork-action {
  color: $grey-medium;
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: underline;
  font-weight: normal;
}

/* Artist preview */
#artist-description {
  img {
    max-width: 200px;
    width: 100%;
  }
  p {
    a {
      text-transform: uppercase;
      text-decoration: underline;
      &:hover {
        color: $grey_medium;
      }
    }
  }

  .artist-description { 
    height: 69px; 
    overflow: hidden; 
    -webkit-transition: all 2s ease;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    transition: all 2s ease;

    &.expanded { height: auto; overflow: auto; }
}
  @media all and (max-width: 1024px) {
    margin-top: 48px;
  }
}

.read-more { cursor: pointer; }

/*** PDP page ***/

.pdp-slider {

  .slider-controls {
    margin-top: 20px;
  }
  .image-count {
    display: inline-block;
    margin-right: 30px;
    vertical-align: middle;
  }
  .slider-arrows {
    display: inline-block;
    vertical-align: middle;
    .glyphicon {
      font-size: 21px;
      padding: 0 5px;
    }
  }
  a.bx-next, a.bx-prev {
    &:hover, &:focus, &:active {
      color: $grey;
    }
  }
}

.pdp-action {
  .product-price {
    padding-top: 40px;
    padding-left: 11%;
    &.bid-price {
      display: flex;
      align-items: center;
    }
    .price {
      font-size: 48px;
      margin-right: 20px;
    }
    .price-small {
      font-size: 21px;
      vertical-align: top;
      margin-top: 10px;
    }
  }
  .action-button {
    height: 115px;
    font-size: 48px;
    line-height: 115px;
  }
}

.about-artwork, .about-artist {
  p {
    font-size: 21px;
    margin-bottom: 40px;
    line-height: normal;
  }
}

.art-item {
  a {
    &:hover, &:focus, &:active {
      color: $grey-medium;
    }
  }
}

input.form-control.bid-input {
  margin-top: 7px;
  height: 100px;
  padding: 40px;
  font-size: 24px;

  @include placeholder {
    font-size: 24px;
    text-transform: none;
  }
}

.auction-label {
  padding-top: 30px;
  line-height: normal;
}

.price-label {
  display: inline-block;
  margin-right: 10px;
  font-size: 24px;
}

/* Footer */
footer {
  flex-shrink: 0;
  color: $grey_medium;

  .footer-top {
    padding: 60px 0 20px 0;
    font-size: 20px;
  }

  .footer-bottom {
    font-size: 18px;
    padding: 20px 0;
    border-top: 1px solid $grey;

    .social {
      text-align: right;
    }

  }

  .list-inline {
    li {
      padding: 0 15px;
      a {
        color: $grey
      }
      @media all and (max-width: 1024px) {
        padding: 0 5px;
        display: block;
      }
    }
  }

  .newsletter-form {
    padding-top: 15px;
    padding-bottom: 15px;
    button {
      text-transform: uppercase;
      background: $grey;
      height: 82px;
      box-sizing: border-box;
      padding: 0 50px;
    }
    input.form-control {
      height: 82px;
      line-height: 82px;
      box-sizing: border-box;
      width: 600px;
      @media all and (max-width: 1366px) {
        width: 400px;
      }
      @media all and (max-width: 1024px) {
        width: 200px;
      }
      @media all and (max-width: 768px) {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
      }
    }
  }

  a {
    color: inherit;
    &:hover, &:focus, &:active {
      color: $white;
      text-decoration: inherit;
    }
  }

  .footer-soc {
    list-style: none;
    padding-left: 0;
    li {
      display: inline-block;
      padding: 20px;
    }

  }

}

.my-profile {
  font-size: 18px;
}

/* Results List */

.result-item {
  padding-top: 20px;
  padding-bottom: 20px;

  p { margin-bottom: 0; }

  .col-description {
    padding-right: 80px;
    &:after {
      content: "\e907";
      font-family: 'icomoon';
      position: absolute;
      right: 15px;
      font-size: 30px;
      line-height:30px;
      color: $grey;
      top: calc(50% - 15px);
    }
  }
}

/* 404 - Blockchain settings */

.blockchain-settings {

  .title, .subtext { font-size: 30px; letter-spacing: 1px; line-height: normal; margin-bottom: 42px; }
  .strong { font-weight: bold; }
  a { text-decoration: underline; 
    &:hover, &:focus, &:active { color: $grey-medium; }
  }
  p { font-size: 18px; margin-bottom: 24px; }
  button { height: 64px; line-height: 2; font-size: 30px; margin-top: 30px; color: black;
    &:hover, &:focus, &:active { background-color: $yellow-hover; color: black; }
  }

}

/* Login modal */

//this resets all modals
.modal-header { border-bottom: 0; }
.modal-footer { border-top: 0; }

//login modal styles
.login-modal-title { text-align: center; font-size: 60px; font-weight: bold; margin-bottom: 0; margin-top: 45px; }
.login-modal-body {
  text-align: center;
  p { font-size: 30px; line-height: normal; margin-bottom: 5px; }
  .icon-smile {
    display: block;
    font-size: 220px;
    margin: 60px 0;
  }
}
.login-modal-footer {
  padding-bottom: 20px;
  button { height: 60px; font-size: 30px;line-height: 1.8; letter-spacing: 1px; text-transform: uppercase; margin-bottom: 35px; }
}

@media(max-width: 1280px) {
  .title-big {
    font-size: 52px;
  }
  .subtitle {
    font-size: 40px;
  }

  .auction-label {
    padding-top: 10px;
    p {
      font-size: 16px;
    }
  }
  .pdp-action {
    .product-price {
      .price-label {
        font-size: 21px;
      }
      .price {
        font-size: 36px;
      }
    }
  }
}

@media(max-width: 1024px) {
  .bid-price {
    padding-left: 15px;
  }
  .col-bid-input {
    padding: 0;
  }
  .pdp-action {
    .product-price {
      padding-left: 15px;
      .price-small {
        font-size: 18px;
        margin-top: 0;
      }
    }
  }
}

@media(max-width: 768px) {

  /* typography */
  h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 35px;
  }
  h2, .h2, .subtitle {
    font-size: 35px;
    letter-spacing: 3.5px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
  }
  h3, .h3 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  h4, .h4 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .title-big {
    font-size: 48px;
  }
  .subtitle {
    font-size: 36px;
  }
  .subtext {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .medium {
    font-size: 28px;
    line-height: 1.2;
  }
  p, .p {
    font-size: 16px;
  }

  .section-title {
    font-size: 20px;
    margin-bottom: 30px;
  }

  .date {
    position: relative;
    bottom: initial;
    left: initial;
  }
  .container {
    padding-left: 40px;
    padding-right: 40px;
  }
  section {
    padding-bottom: $section-padding-mobile;
  }

  /* spacer adjustment */

  .spacer {
    height: 45px;
  }
  .spacer-xsmall {
    height: 10px;
  }
  .spacer-small {
    height: 30px;
  }
  .spacer-medium-big {
    height: 50px;
  }
  .spacer-big {
    height: 60px;
  }

  .pt-30m {
    padding-top: 30px;
  }

  button, .button {
    margin-top: $button-margin-mobile;
  }

  /* menu */
  .menu ul {
    top: 25px;
    li {
      max-height: 65px;
      a {
        font-size: 30px;
      }
    }
  }
  //Homepage slider

  .slider {
    .slider-content {
      padding: 30px;

      .button {
        font-size: 24px;
        line-height: 28px;
        padding: 6px 6px 0px 6px;
        margin-top: 20px;
      }
    }
  }
  /* typography */
  h1 {
    font-size: 40px;
    line-height: 1;
    letter-spacing: 4px;
    margin-bottom: 35px;
  }
  h2, .h2 {
    font-size: 35px;
    letter-spacing: 3.5px;
    line-height: 1.1;
    margin-top: 0;
    margin-bottom: 0;
  }
  h3, .h3 {
    font-size: 28px;
    letter-spacing: 3px;
  }
  h4, .h4 {
    font-size: 24px;
    letter-spacing: 2px;
  }
  .subtext {
    font-size: 18px;
    margin-bottom: 30px;
  }
  .medium {
    font-size: 28px;
    line-height: 1.2;
  }
  p, .p {
    font-size: 16px;
  }

  /* Artworks Grid - Isotope */

  .grid-sizer, .grid-item {
    width: 100%;
  }
  .grid-item, .artwork-item {
    padding-bottom: 50px;
    .artwork-caption {
      margin-top: 20px;
    }
  }

  .about-artwork, .about-artist {
    p {
      margin-bottom: 20px;
    }

    .auction-label {
      padding-top: 10px;
    }
    .action-button {
      margin-top: 7px;
    }
    footer {
      position: relative;
      text-align: center;
      .footer-top, .footer-top > * {
        text-align: center;
      }
      .footer-bottom {
        text-align: center;
        .social {
          text-align: center;
        }
      }
    }
  }

  /* Stories */

  .story-item {
    p {
      font-size: 18px;
      margin-top: 30px;
    }
  }

  .pb-150 {
    padding-bottom: calc(150px / 2);
  }
  .pt-120 {
    padding-top: calc(120px / 2);
  }
  .pt-80 {
    padding-top: calc(80px / 2);
  }
  .pt-60 {
    padding-top: calc(60px / 2);
  }

  .pdp-action {
    .product-price {
      padding-left: 15px;
      .price-label {
        font-size: 18px;
      }
      .price {
        font-size: 24px;
      }
    }
  }

//login modal styles
.login-modal-title { font-size: 42px; margin-top: 30px; }
.login-modal-body {
  p { font-size: 21px; margin-bottom: 5px; }
  .icon-smile {
    font-size: 120px;
    margin: 40px 0;
  }
}
.login-modal-footer {
  padding-bottom: 20px;
  button { height: 40px; font-size: 24px;line-height: 1.5;margin-bottom: 15px; }
}

}

@media (max-width: 480px) {

  .slider {
    .slider-content {
      padding: 15px;

      .button {
        font-size: 15px;
        line-height: 18px;
        margin-top: 5px;
      }
    }
  }

  .title-big {
    font-size: 24px;
  }
  .subtitle {
    font-size: 16px;
  }
}

@media(max-height: 375px) {

  /* menu */
  .menu ul {
    top: 0;
    li {
      max-height: 55px;
      a {
        font-size: 30px;
      }
    }
  }
}

